.card{
    width: 18rem;
    margin : 15px
}

.trash-grid{
    position: absolute;
    top: 92%;
    left: 92%
}

.edit-grid{
    position: absolute;
    top: 92%;
    left: 80%
}

.check-grid{
    position: absolute;
    top: 92%;
    left: 80%
}